config/.jira/
config/coc/commands
config/coc/memos.json
config/Microsoft\\VisualStudio Services/
config/coc/extensions/coc-java-data/
config/coc/extensions/coc-json-data/
config/coc/extensions/coc-rust-analyzer-data/
config/coc/extensions/node_modules/
config/configstore
config/gatsby
config/gh/hosts.yml
config/git
config/jgit/
config/pgcli/
config/solana/
config/tmuxinator/compass*.yml
vim/spell/*.spl
