config/.jira/
config/Microsoft\\VisualStudio Services/
config/configstore
config/gatsby
config/gh/hosts.yml
config/git
config/jgit/
config/pgcli/
config/solana/
config/tmuxinator/compass*.yml
vim/spell/*.spl
