[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/roku.vim"]
	path = vim/bundle/roku.vim
	url = git://github.com/entrez/roku.vim.git
[submodule "vim/pack/themes/start/dracula"]
	path = vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
