[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
