[submodule "vim/pack/themes/start/darcula"]
	path = vim/pack/themes/start/darcula
	url = https://github.com/doums/darcula.git
[submodule "vim/pack/plugins/start/vim-toml"]
	path = vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/rust.vim"]
	path = vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/pack/themes/start/dracula"]
	path = vim/pack/themes/start/dracula
	url = git@github.com:cadizm/dracula-vim.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/pack/coc/start/coc.nvim"]
	path = vim/pack/coc/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/pack/plugins/start/open-browser.vim"]
	path = vim/pack/plugins/start/open-browser.vim
	url = git@github.com:tyru/open-browser.vim.git
[submodule "vim/pack/plugins/start/open-browser-github.vim"]
	path = vim/pack/plugins/start/open-browser-github.vim
	url = git@github.com:tyru/open-browser-github.vim.git
